@import "../../node_modules/bulma/bulma.sass";

@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700&display=swap");

.profile-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

*{
font-family: 'M PLUS Rounded 1c', sans-serif;
}

// ! search home styling

.search-home-form {
  display: flex;
  margin: 20px;
}

.search-home-button {
  margin-left: 10px;
}

.search-home-headings {
  text-align: center;
  font-size: 30px;
}

.categories {
  text-align: center;
}

.cat-button { 
  color: white;

}

// ! search results styling

.cat-dropdown {
  margin-top: 5px;
}
.search-results-filters-div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.search-results-filters {
  display: flex;
  flex-direction: row;
}

.search-results-searched-word {
  text-align: center;
  font-size: 30px;
  margin: 40px;
}

.search-results-dropdown:hover {
  background-color: #5332db;
  color: white;
}

.display-search-results {
  margin-top: 100px;
}

.display-no-search-results {
  margin-top: 150px;
  margin-bottom: 250px;
  text-align: center;
}

.no-search-results {
  font-size: 30px;
  padding: 30px;
}

.body,
html,
#root {
  background-color: #f4f4f4;
}

.homepage {
  background-image: url("https://i.ibb.co/Kwk4QYp/wallpaper.jpg");
  background-size: cover;
}
.register {
  background-image: url("https://i.ibb.co/Kwk4QYp/wallpaper.jpg");
  background-size: cover;
}
.login {
  background-image: url("https://i.ibb.co/Kwk4QYp/wallpaper.jpg");
  background-size: cover;
}

.profile-image {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

nav .profile-image {
  width: 40px;
  height: 40px;
}

.userdetails {
  min-width: 200px;
}

.button.is-primary {
  background-color: #5332db !important;
}

.button.is-link {
  background-color: #a6a2a9 !important;
}

.navbar {
  background-color: #5332db !important;
}

.purpletext {
  color: #5332db !important;
}

.nostackcolumns {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.nostackcolumns .right {
  align-self: flex-end;
}

footer {
  background-color: #1b1a1d;
}
.logo {
  max-width: 150px;
}
footer .logo {
  max-width: 100px;
}

.homepage .container {
  max-width: 360px !important;
}

.login .container,
.register .container {
  max-width: 460px !important;
}

.underline {
  text-decoration: underline;
}

.bm--card-equal-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.bm--card-equal-height .card-footer {
  margin-top: auto;
}
